<div class="relative overflow-x-auto">
  <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
    <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
      <tr>
        <th scope="col" class="px-6 py-3">
          Title
        </th>
        <th scope="col" class="px-6 py-3">
          Category
        </th>
        <th scope="col" class="px-6 py-3">
          Complete At
        </th>
      </tr>
    </thead>
    <tbody>
      @for (enroll of enrollState.myCompleteEnrollList(); track enroll.course?.id; let i = $index) {
      <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 border-gray-200">
        <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
          {{enroll.course?.title}}
        </th>
        <td class="px-6 py-4">
          {{enroll.course?.category}}
        </td>
        <td class="px-6 py-4">
          {{enroll.completedAt}}
        </td>
      </tr>
      } @empty {
      <div>No Enroll found.</div>
      }
    </tbody>
  </table>
</div>