<div class="flex flex-col md:flex-row gap-2">
  <select id="status"
    class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-[300px] p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500 cursor-pointer"
    [(ngModel)]="courseState.categorySearch">
    <option disabled>Select Category</option>
    <option value="Programming">Programming</option>
    <option value="Business">Business</option>
  </select>


  <select id="status"
    class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-[300px] p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500 cursor-pointer"
    [(ngModel)]="courseState.statusSearch">
    <option disabled>Select Status</option>
    <option [value]="1">Free</option>
    <option [value]="2">Paid</option>
  </select>

  <select id="sortby"
    class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-[300px] p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500 cursor-pointer"
    [(ngModel)]="courseState.sortBy">
    <option disabled> Sort By</option>
    <option [value]="1">Title</option>
    <option [value]="2">Duration</option>
  </select>

</div>
